.curiozdb-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* Three columns: small-large-small */
    gap: 10px; /* Spacing between grid items */
    width: 100%;
    box-sizing: border-box;
}

.curiozdb-row {
    display: contents; /* Allows rows to be used within the grid */
}

.curiozdb-cell {
    padding: 1rem; /* Adjust padding using rem for consistency */
    background-color: var(--background-color); /* Use the background color variable from main CSS */
    border: 1px solid var(--border-color); /* Use the border color variable from main CSS */
    font-size: 1rem; /* Base font size for the cell, 1rem equals the root font size */
    box-sizing: border-box; /* Ensures padding and borders are included in the element's total width and height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Ensure positioning context for absolute elements */
    flex-grow: 1;
    height: var(--cell-height); /* Set the height using a responsive unit */
}

.cell-small {
    flex: 1; /* Takes 1 part of the available width */
}

.cell-large {
    flex: 3; /* Takes 3 parts of the available width */
}

.curiozdb-cell .cell-title {
    position: absolute;
    top: 0.5rem; /* Positioned using rem for consistency */
    left: 0.5rem;
    font-size: 0.8rem; /* Slightly smaller text for the title */
}

.curiozdb-cell .cell-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; /* Align children (icon and quantity) horizontally */
    text-align: center;
    width: 100%;
}

.curiozdb-cell .cell-icon {
    font-size: 1.5rem; /* Icon size controlled using rem */
    margin-right: 0.5rem; /* Space between icon and number */
}

.curiozdb-cell .cell-quantity {
    font-size: 1.5rem; /* Text size controlled using rem */
}

.curiozdb-chart {
    grid-column: 2 / span 2; /* Span across the large cell and the following small cell */
    grid-row: span 2; /* Span across two rows */
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--cell-height) * 2 + 10px); /* Adjust height to match two rows */
    box-sizing: border-box;
}
